#root {
    position: relative;
    z-index: 1;
    width: 100%;
    header.site-header-mobile {
        padding: 0 15px;
        height: auto;
        .logo-holder {
            margin: 15px 0 15px 35px;
            img {
                height: 21px;
            }
        }
        .menu {
            &.expanded {
                button {
                    .hamburger-menu {
                        .line {
                            &:nth-child(1), &:nth-child(4) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }
                            &:nth-child(2) {
                                transform: rotate(45deg);
                            }
                            &:nth-child(3) {
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
            button {
                border: none !important;
                padding: 0 !important;
                box-shadow: none !important;
                outline: none !important;
                background: none !important;
                position: absolute;
                left: 15px;
                top: 18px;
                .hamburger-menu {
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    height: 12px;
                    width: 20px;
                    display: none;
                    .line {
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        background: #767676;
                        opacity: 1;
                        left: 0;
                        top: 0;
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        &:nth-child(2), &:nth-child(3) {
                            top: 6px;
                        }
                        &:nth-child(4) {
                            top: 12px;
                        }
                    }
                }
            }
            .menu-content {
                position: absolute;
                top: 60px !important;
                width: 100%;
                border-radius: 0;
                box-shadow: none;
                border: none !important;
                overflow: hidden;
                inset: unset !important;
                transform: none !important;
                right: 0 !important;
                min-width: 12px;
                padding: 0;
                margin: 25px 0 0 !important;
                a {
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #374151;
                    &.h-desktop {
                        display: none;
                    }
                }
            }
        }
    }
    header.site-header-desktop {
        z-index: 30;
        height: auto;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 3px 0px rgba(0,0,0,0.1);
        .container-fluid {
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 15px;
            .nav-container{
                .logo{
                    padding: 0 !important;
                }
            }
        }
        .secondary-menu-container {
            .nav-link:hover,
            .nav-link:focus,
            .nav-link.active,
            .expanded .nav-link {
            background: transparent;
            text-decoration: underline;
            }
        }
        .logo {
            position: static;
            height: auto;
            margin: 0 !important;
            img {
                height: 21px;
            }
       }
        .main-nav {
            a.nav-link {
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                padding: 30px 0;
                color: #374151;
                margin: 0 16px 0 0;
                display: block;
                border-bottom: 2px solid transparent;
                background: none;
            }
        }
        .menu {
            button {
                border: none !important;
                padding: 9px 15px !important;
                box-shadow: none !important;
                outline: none !important;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                &:before {
                    display: none !important;
                }
                &:after {
                    display: inline-block;
                    vertical-align: middle;
                    content: "";
                    margin: 0 0 2px 8px;
                    border-width: 0 0 2px 2px;
                    transform: rotate(-45deg);
                    width: 7px;
                    height: 7px;
                }
                .avatar {
                    display: none !important;
                }
                svg {
                    display: none !important;
                }
            }
            .menu-content {
                position: absolute;
                top: 60px !important;
                width: 224px;
                border-radius: 6px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                border: none;
                overflow: hidden;
                inset: unset !important;
                transform: none !important;
                right: 0 !important;
                min-width: 12px;
                padding: 0;
                margin: 6px 0 0 !important;
                a {
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #374151;
                }
            }
        }
    }
    .user-dropdown {
        &.show {
            button {
                .hamburger-menu {
                    .line {
                        &:nth-child(1), &:nth-child(4) {
                            top: 18px;
                            width: 0%;
                            left: 50%;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        button {
            border: none !important;
            padding: 9px 15px !important;
            box-shadow: none !important;
            outline: none !important;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            height: auto !important;
            &:before {
                display: none;
            }
            &:after {
                margin-left: 8px !important;
            }
            .hamburger-menu {
                transition: 0.5s ease-in-out;
                cursor: pointer;
                height: 12px;
                width: 20px;
                display: none;
                .line {
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: #767676;
                    opacity: 1;
                    left: 0;
                    top: 0;
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: 0.25s ease-in-out;
                    transition: 0.25s ease-in-out;
                    &:nth-child(2), &:nth-child(3) {
                        top: 6px;
                    }
                    &:nth-child(4) {
                        top: 12px;
                    }
                }
            }
            img {
                display: none;
            }
            span.d-none.d-md-inline {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                display: inline-block !important;
            }
        }
        .dropdown-menu {
            position: absolute;
            top: 60px !important;
            width: 224px;
            border-radius: 6px;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            border: none;
            overflow: hidden;
            inset: unset !important;
            transform: none !important;
            right: 0 !important;
            min-width: 12px;
            padding: 0;
            margin: 6px 0 0 !important;
            .dropdown-divider { display: none !important; }
            a {
                box-sizing: border-box;
                padding: 10px;
                font-size: 14px;
                line-height: 20px;
                color: #374151;
                &.h-desktop {
                    display: none;
                }
            }
        }
    }
}
[dir="ltr"] #root .user-dropdown .dropdown-menu {
    top: 54px;
}
#root {
    .nav-small-menu {
        box-shadow: none !important;
        width: 100%;
        position: absolute;
        top: 56px;
        z-index: 999;
        a {
            border: none !important;
            padding: 16px;
            font-size: 14px;
            line-height: 20px;
            color: #374151;
        }
    }
}

// header{
//     div{
//         div{
//             a{
//                 .logo{
//                     width: 135px !important;
//                     height: auto !important;
//                 }
//             }
//         }
//     }
// }
a{
    .logo{
        width: 135px !important;
        height: auto !important;
    }
}

// for learning header logo size and course title alignment
header{
    .logo{
        height: auto !important;
        img{
            width: 135px !important;
            height: auto !important;
        }
    }
}
#root{
.site-header-desktop{
    .container-fluid{
        .nav-container{
            .main-nav{
                .menu{
                    .menu-content{
                        right: unset !important;
                        left: auto !important;
                        top: 65% !important;
                        z-index: 999999;
                        background: #ffffff !important;
                    }
                }
                .nav-link{
                    font-size: 1.125rem !important;
                    font-weight: 500;
                    letter-spacing: 0.01em;
                    color: #454545FF;
                    padding: 1.125rem 1rem;
                }
            }
        }
    }
}
}

#root{
    .site-header-mobile{
        display: flex;
        height: 3rem;
        position: relative;
        z-index: 1000;
        align-items: center !important;
        justify-content: space-between !important;

        .justify-content-end{
            .menu{
                .icon-button {
                    left: unset !important;
                    right: 15px;

                }
            }
        }
        div{
            .menu{
                .menu-content{
                    background: #ffffff;
                    margin: 35px 0 0 !important;
                    .nav-item{
                        .menu-content{
                            margin: 0 0 0 35px !important;
                            border: none !important;
                            padding: 0 !important;
                        }
                    }
                    .nav-link{
                        font-size: 1.125rem;
                        text-decoration: none;
                        cursor: pointer;
                        display: block;
                        padding: 0.5rem 1rem;
                        color: #454545FF;
                        font-weight: 500;
                        line-height: 1.5556;
                    }
                    .menu{
                        .dropdown-item{
                            font-size: 1.125rem !important;
                            text-decoration: none;
                            cursor: pointer;
                            display: block;
                            padding: 0.5rem 1rem;
                            color: #454545FF;
                            font-weight: 500;
                            line-height: 1.5556;
                        }
                    }
                }
            }
        }
        
    }
}
#root header .logo img {
    padding: 0.5rem 0 !important;
}